.wrap{
    display: flex;
    justify-content: center;
    padding-top: 70px;
}
.container{
    display: flex;
    justify-content:space-evenly ;
    width: 1000px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;

}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
    width:250px;
    border: 1px solid #aaaaaa;
    flex-direction: column;

    position: relative;
}
.description>h2{
    text-align: center;
    color:black;
    font-size: 25px;
    box-sizing: border-box;
    padding-top:20px ;

}
.description>p{
    color:darkgrey;
    text-align: justify;
    box-sizing: border-box;
    padding:15px 15px 15px 15px;
}
a{
    display: block;
    text-decoration: none;
    color: black;
    width:160px;
    height:40px;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 10px;
    line-height: 40px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_round{
    height: 50px;
    width: 50px;
    font-size: 25px;
    color: #ec9114;
    background: #ffffff;
    border: 1px solid #bfbfbf;
    border-radius: 50%;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: -35px;
}